{% extends 'base.html' %}

{% block content %}
<div id="info-page">
<h1>TOC</h1>
<ul>
<li><a href="#about-osp">About OSP</a></li>
<li><a href="#cv">CV</a></li>
<li><a href="#members">Members</a></li>
<li><a href="#research-tracks">Research Tracks</a></li>
<li><a href="#association">Association</a></li>
<li><a href="#licenses">License(s)</a></li>
<li><a href="#history">History</a></li>
</ul>
<h1>About OSP</h1>
<p>Open Source Publishing questions the influence and affordance of digital tools through its practice of (commissioned) graphic design, pedagogy and applied research. They prefer to use exclusively free and open source softwares (<a href="https://en.wikipedia.org/wiki/Free_and_open-source_software">F/LOSS</a>). Currently the group is composed of people with backgrounds in graphic design, typography and development. They find excitement in the cross-over between its members respective fields and competences. Legally OSP is structured as a bilingual Belgian non-profit organization (asbl/vzw) and aims to question and find alternatives to the standard graphic design studio model.</p>
<p>OSP welcomes new collaborations. You can reach us at <a href="mailto:&#109;&#105;&#097;&#109;&#064;&#111;&#115;&#112;&#046;&#107;&#105;&#116;&#099;&#104;&#101;&#110;">&#109;&#105;&#097;&#109;&#064;&#111;&#115;&#112;&#046;&#107;&#105;&#116;&#099;&#104;&#101;&#110;</a></p>
<h2>How do we describe ourselves</h2>
<blockquote>
<p>Antoine ‒ We are obsessed designers. We are specialists, on many very niche fields. And we try hard to take care of our environment.<br />
Alex ‒ We are working on understanding digital tools for designers and media. For that, we need them to be libre, it's a means, not a goal. How to construct the storytelling of it?<br />
Gijs ‒ The dogma of OSP is an asset. F/LOSS (Free/Libre and Open-Source Software) is an invitation on looking at software. And we have an expertise with it.<br />
Stéphanie: We do applied research, more and more. There is always new stuff, F/LOSS is still and will stay exotic. Our explorations have thickened compare to our start in 2006. We have a mixed practice by teaching.<br />
Sarah ‒ We have a diversity of practices. The awkwardness of it is a way to narrate what we are. Awkwardness comes from the fact that we put the care elsewhere.<br />
Ludi ‒ We are unfolding practices. We need more time to reflect about what we do.<br />
Pierre ‒ Even it it misses the graphic design dimension, maybe we could use the term «digital arte povera», coined by Christophe Alix, director of Le75 art school.</p>
</blockquote>
<h2>How do we work?</h2>
<p>Through its radical practice, Open Source Publishing questions the modes of collaboration between graphic designers and artists, between graphic designers and cultural institutions. In an effort to clarify the frame of the specific collaborations that OSP initiates, the collective produced a collaboration agreement in 2014. Since then, the document has been regulary reviewed. Within <a href="https://caveat.be/">Caveat</a> research project, visual illustrations have been inserted into the document and its language has been reshape in an attempt to ease legibility, see <a href="https://ecotones.caveat.be/osp.html">https://ecotones.caveat.be/osp.html</a>.</p>
<h1>CV</h1>
<p>OSP has worked with organisations both large and small, and collaborated with individual artists. They have organised workshops, print parties and talks at many art schools and other venues. Our archives of the period 2006-2010 should be harvested, but starting in 2011 we have more structured traces.</p>
<h2>Activity reports</h2>
<ul>
<li><a href="https://cloud.osp.kitchen/s/J3gkFFq4EKznkTT">2014</a></li>
<li><a href="https://cloud.osp.kitchen/s/q2rxcg8CbTCgjKG">2015</a></li>
<li><a href="https://cloud.osp.kitchen/s/EN7KoiicrxFyZHw">2016</a></li>
<li><a href="https://cloud.osp.kitchen/s/GH2ipYSXmR43i3Q">2017</a></li>
<li><a href="https://cloud.osp.kitchen/s/SGyYwBXtcE4Rb7e">2018</a></li>
<li><a href="https://cloud.osp.kitchen/s/y6ZEn6GnP945xFB">2019</a></li>
</ul>
<h2>Some collaborators/clients</h2>
<ul>
<li>Adva Zakai</li>
<li>apass</li>
<li>Atelier de Création Sonore Radiophonique</li>
<li>BPI Paris</li>
<li>Constant VZW</li>
<li>Danslab</li>
<li>GenderArtNet</li>
<li>Institute of Network Cultures</li>
<li>Kunstencentrum BUDA</li>
<li>La Médiathèque, Bruxelles</li>
<li>Leuven University</li>
<li>Libre Graphics Meeting</li>
<li>Médor</li>
<li>Piet Zwart Institute</li>
<li>Pieter Van Bogaert</li>
<li>Sarma</li>
<li>Théâtre la Balsamine</li>
<li>Villa Arson</li>
</ul>
<h2>Some commissions</h2>
<ul>
<li>ISELP, 2020–2021 : visual identity</li>
<li>Théâtre la Balsamine (2011–now): Design Visual identity, posters, yearly program, website &amp; production two performances.</li>
<li>Médor (2015–now): co-founders, art directors of 4-yearly magazine independent magazine for Belgian journalism, lay-out and pre-press workflow with free software (html2print).</li>
<li>Institute of Network Cultures &amp; 1001 Publishers (2017): <a href="https://www.uitgeverij1001.nl/book_44.html"><em>The Riddle of the Real City</em></a> design print publication and eBook.</li>
<li>Kunstencentrum Buda (2016): “What’s the matter with cooperation”, design and editing of event documentation in collaboration with audience, print party.</li>
<li>Contour 9, <a href="https://www.contour9.be">https://www.contour9.be</a></li>
<li>Oral Site/Olga, <a href="http://oralsite.be">http://oralsite.be</a></li>
<li>Anna K, <a href="http://kavan.land">http://kavan.land</a></li>
<li>F-u-t-u-r-e publications, <a href="http://f-u-t-u-r-e.org">http://f-u-t-u-r-e.org</a>
.\" </li>
</ul>
<h2>Some workshops</h2>
<h3>2020</h3>
<ul>
<li>Piet Zwart Institute, Post-Digital Itch, Rotterdam</li>
<li>Elastic glyphs, Metapost workshop, erg, Bruxelles</li>
</ul>
<h3>2019</h3>
<ul>
<li>What ISDAT, ISDAT, Toulouse.</li>
<li>Fa, fe, fo, fr, fs, ft, fb, fh, fu, fy : Metapost workshop around inclusives typographic ligatures, erg, Bruxelles</li>
</ul>
<h3>2018</h3>
<ul>
<li>Metafig, Fig Festival, Liège</li>
<li>Dirty Variables, workshop erg/la Cambre, WTC25</li>
<li>On the Shoulders of Giant, ÉSAC Cambrai</li>
<li>ÉSAAB Lorient</li>
</ul>
<h3>2017</h3>
<ul>
<li>MetaPost workshop, Sao Paulo, Brazil</li>
<li>MetaPuk workshop, Rio, Brazil</li>
<li>MetaPost workshop, ENARTS/Le Centre d'Art, Port-au-Prince, Haïti</li>
<li>Lycée Charles de Gaulle, Chaumont</li>
</ul>
<h3>2016</h3>
<ul>
<li>Papier Carbone, Charleroi</li>
<li>Workshop + exhibition “Metahoguet”, La Saison numérique, Maison du Livre, Saint-Gilles</li>
<li>Workshop with HBK Braunschweig students, OSP studio, Brussels</li>
<li>“What's the matter with cooperation”, Kunstencentrum BUDA, Kortrijk</li>
<li>“Elif”, ESADSE, Saint-Étienne, France</li>
<li>Workshop, ESADHAR, Le Havre, France</li>
<li>Workshop HFK Bremen, Germany</li>
<li>MetaModay with students of Brendan Howell
*</li>
</ul>
<h3>2015</h3>
<ul>
<li>Up Pen Down, La Quinzaine numérique, Théâtre la Balsamine, Schaarbeek</li>
<li>“Hyperzines”, HEAD Geneva, Switzerland </li>
<li>Universität Basel, Swtizerland</li>
<li>“Open Tools Week”, KASK, Gent</li>
<li>“HTML sauce cocktail”, HEAR Strasbourg, France
*</li>
</ul>
<h3>2014</h3>
<ul>
<li>FCForum + Bau, Barcelona</li>
<li>KABK project week, The Hague, The Netherlands</li>
<li>Relearn, worksessions “Bits and Sounds” and “Drawing the (un)perfect circle(s)”, Brussels</li>
<li>“It’s not very nice that”, Glasgow</li>
<li>“Self-Conscious Design”, Haute École d'Art et Design, Geneva</li>
</ul>
<h3>2013</h3>
<ul>
<li>Free libraries for every soul, Utrecht</li>
<li>Typojanchi, Seoul</li>
<li>Relearn, libre graphics summer school</li>
<li>Festival international de l'affiche et du graphisme</li>
</ul>
<h3>2012</h3>
<ul>
<li>Invited designers at ÉSAD •Valence •Grenoble</li>
<li>“Open Textures”, Intermediae, Madrid</li>
<li>“Morphologic”, Merz Akademie, Stuttgart</li>
<li>“Write me a shadow”, ÉSAD •Valence •Grenoble</li>
<li>LGRU worksessions, Brussels</li>
</ul>
<h3>2011</h3>
<ul>
<li>Piet Zwart Institute, Rotterdam</li>
<li>Open Design Weeks, Vietnam</li>
<li>Royal College of Art, London</li>
</ul>
<h2>Some lectures and talks</h2>
<h3>2019</h3>
<ul>
<li>Livresse 2019, Nocturne au Rayon. Discussion around popular and vernacular typography with Olivier Bertrand and Félicité Landrivon.</li>
<li>Beirut : Digital Humanities Institute 2019. Projects presentation within the panel “Hybrid Publishing and New Modes of e-Publishing: How can we rethink the Political Nature of Open Access through Format and Content?”</li>
<li>Sint Lucas Anvers, meeting with the students of “Editorial Practices” (Bachelor 3 and pre master), following an invitation by Zeynep Kubat.</li>
<li>LGM 2019 in Germany</li>
</ul>
<h3>2018</h3>
<ul>
<li>Bye bye binary. Des imaginaires possibles autour d’une typographie inclusive. A collaboration with erg and La Cambre schools + RoSa, Bruxelles - genderfluid.space</li>
</ul>
<h3>2017</h3>
<ul>
<li>Up-pen-down with Adva Zakaï, La Balsamine, Brussels</li>
<li>Libre Graphics Meeting, Rio, Brazil</li>
<li>Chaumont, France</li>
</ul>
<h3>2016</h3>
<ul>
<li>OpenCon, Liège</li>
<li>“Back to Stroke”, Automatic Type Design 2, ANRT, Nancy, France</li>
<li>Associalibre, Anderlecht</li>
<li>Rencontres internationales de Lure, Lurs, France</li>
<li>Lecture at Fachhochschule Potsdam, Berlin, Germany</li>
<li>Interview by Radio Campus, Brussels</li>
<li>Assises du journalisme, Tours, France</li>
</ul>
<h3>2015</h3>
<ul>
<li>Assises de la culture, ENSBA Lyon, France</li>
<li>Graphic design festival, Breda, The Netherlands</li>
<li>Design + Tech, Trakk, Namur</li>
<li>Biennale Exemplaires, Formes et pratiques de l’édition, ENSBA Lyon, France</li>
<li>Cut and Paste, LUCA, Gent</li>
</ul>
<h3>2014</h3>
<ul>
<li>Residency + talk with writer Catherine Lenoble, La Panacée, Montpellier, France</li>
<li>“Le pantalon moulant et les mathématiques: résister au geek”, Presentation, APREM#4, La Fabrique de théâtre, Frameries</li>
<li>Table ronde “Héritage”, Campus La Fonderie de l’Image, Paris</li>
<li>Residency + talk with <future> art publishing house, La Panacée, Montpellier, France</li>
<li>“Self-conscious design”, HEAD Geneva</li>
</ul>
<h3>2012</h3>
<ul>
<li>Let’s talk about graphic design, MAD Brussels</li>
<li>ESA Pyrénées, Pau</li>
</ul>
<h3>2011</h3>
<ul>
<li>Designblast, HFG Karlshruhe</li>
</ul>
<h2>Some exhibitions</h2>
<ul>
<li>2018: Cellophane exhibition, Milano, curated by Emanuele Bonetti &amp; Loredana Bontempi</li>
<li>December 2017: Up Pen Down performance with Adva Zakai, théâtre la Balsamine</li>
<li>May 2017: exhibition at MAD Brussels, curated by Annelys de Vet</li>
<li>May 2016: Une Saison Graphique: “Readme.osp”, 10 years of OSP exhibition, ESADHAR, Le Havre, France</li>
<li>November 2015 : “Anna K”, Constant V, Sint-Gillis</li>
<li>October 2014 : Tout graphisme!, Atelier 13–16 du Centre Georges Pompidou, Paris</li>
<li>July 2014 : Variable F/LOSS Arts Lab, De Kriekelaar, Schaarbeek</li>
<li>February–April  2014 : It’s not very nice that, Glasgow</li>
<li>August 27-October 8 2013: Typojanchi, Seoul</li>
<li>November 6-18 2012: Visual Grammar, MAD Brussels</li>
</ul>
<h2>Some print parties</h2>
<ul>
<li>May 2015: OSP asbl/vzw print party, Schaarbeek</li>
<li>October 2014: Hachures Tourneurs, Théâtre la Balsamine</li>
<li>October 2013: Seoul Fonts Karaoke, De la charge</li>
<li>March 23, 2013: F B S P dinner, Komplot, Brussels</li>
<li>February 28, 2013: Bootstrap IV, Théâtre la Balsamine, Brussels</li>
</ul>
<h2>Some publications</h2>
<ul>
<li>Conversations, Constant Verlag, an almanach of texts with articles/interviews of OSP, May 2015</li>
<li>“DIY Software”, article by OSP on the tool Laidout, Grafik.net, 2014</li>
<li>“Visual Culture — Open Source Publishing, Git et le design graphique”, article on OSP by Anthony Masure, Strabic.net, November 2014</li>
<li>Interview by Caroline Bouige, Étapes, issue 220 “Co-design”, Summer 2014</li>
</ul>
<h1>Members</h1>
<h2>Active members</h2>
<h3>Antoine Gelgon</h3>
<p><a href="https://luuse.io">https://luuse.io</a>
Antoine is part of Luuse along OSP, based in Brussels, practices graphic and type design, thinks that "forms you use to write your thoughts belong to you and that all technical objects must remain open, even digital fonts", read Simondon and listen to grind core.</p>
<h3>Sarah Magnan</h3>
<p>Graphic designer, Sarah started  to  experiment at ERG (Brussels) possible links between graphic design and new media art. From links to links she get curious and interested by  collaborative work, sharing matters on web, on print and more widely on  archiving matters: which status to gives to archive, how to make it born or reborn, how to share it, show it, confront it. Sarah is one of the founders of the <a href="https://medor.coop/">Médor</a> investigation media.</p>
<h3>Stéphanie Vilayphiou</h3>
<p><a href="http://stdin.fr/">http://stdin.fr/</a>
Stéphanie Vilayphiou is a graphic designer and sometimes developer.  She is interested in how the persons who conceive a digital tool influences the way we use it. She teaches at <a href="http://erg.be">erg art school</a> courses on experimenting free software. Next to OSP activity, she starts to research textile design in relation to mathematics and programming.</p>
<h3>Gijs de Heij</h3>
<p><a href="http://de-heij.com/">http://de-heij.com/</a>
Gijs de Heij is a graphic designer and programmer. Next to his activities within OSP he is a member of the research group <a href="https://www.algolit.net/">Algolit</a> where he researches the potential of algorithmic literature. He lives and works in Brussels with a particular interest in pen plotters.</p>
<h3>Alexandre Leray</h3>
<p><a href="http://stdin.fr/">http://stdin.fr/</a>
Graphic and media designer who combines a visual and programmatic approach to design. Alexandre is interested in the web as a reading/writing space, software studies and commons. He has edited a collection of documents on the relationship between tools, practice and free culture in graphic design. Alexandre is one of the founders of the <a href="https://medor.coop/">Médor</a> investigation media, and teaches at the <a href="http://le75.be">septante-cinq</a> art school.</p>
<h3>Ludivine Loiseau</h3>
<p><a href="http://www.ludi.be/">http://www.ludi.be/</a>
Formed at the Ecole Estienne (Paris), Ludi relearned everything in Brussels. She immersed herself in the  centre for graphical delicacies Speculoos and met the OSP group aboard a van on route to Poland in 2008. Ludi questions the contemporary role of typography and her practice is reflected in her courses at the <a href="http://erg.be">Ecole de Recherche Graphique (ERG)</a>, where she is a lecturer in typography and free software. She is one of the founders of <a href="https://medor.coop/">Médor</a> project, a quarterly Belgian investigation and storytelling magazine.</p>
<h3>Pierre Huyghebaert</h3>
<p><a href="http://www.speculoos.com">http://www.speculoos.com</a>
Exploring several practices around graphic design, he currently drives the studio <a href="https://speculoos.com">Speculoos</a>. Pierre is interested in using free sofware to <em>re</em>-learn to work in other ways and collaboratively on cartography, type design, web interface, schematic illustration, book design and teaching these practices. Along participating in OSP, he is co-founder of <a href="https://medor.coop/">Médor</a>, <a href="http://lacambretypo.be">teacher in type media at La Cambre art school</a>, develops collaborative and subjective mapping with <a href="https://atelier-cartographique.be">Atelier cartographique</a> and others Brussels urban projects.</p>
<h2>Past members</h2>
<p>(In order of joining)
-   <a href="http://snelting.domainepublic.net/">Femke Snelting</a>
-   <a href="http://harrisson.be/">Harrisson</a>
-   <a href="http://towards.be">Nicolas Malevé</a>
-   <a href="http://www.taidangao.org/">Yi Jiang</a>
-   <a href="http://textzi.net">Ivan Monroy López</a>
-   <a href="https://www.atelier-cartographique.be/en/">Pierre Marchand</a>
-   <a href="http://www.sebastiensanfilippo.be/">Seb Sanfilipo</a>
-   John Haltiwanger
-   <a href="https://ericschrijver.nl/">Eric Schrijver</a>
-   <a href="http://colm.be/">Colm O'Neill</a></p>
<p>We have also other members who are following us <a href="https://gitlab.constantvzw.org/osp/osp.meta.association/blob/master/association-3-registry/association-registry-en.md">closely or from a certain distance</a>.</p>
<h2>Interns</h2>
<p>We are late on the ball but we are digging into our archives to build the most complete list of interns as possible! More soon here. To apply for internship, send us a mail on <a href="mailto://miam@osp.kitchen">miam at osp.kitchen</a> and we will be back to you after one of our meetings.</p>
<h1>Research tracks</h1>
<p>The more OSP accumulates work, the more cross sections appear among the projects. A good part of these interesections end up emerging as themes of their own. We've made the decision to stimulate OSP's research functions by following some of these more specific themes. They are the most interesting and exiting to us. We want to drive these forwards, we're making them into their own (research) projects.
*
- <a href="http://osp.kitchen/research/#h2p">Html2print</a>
- <a href="http://osp.kitchen/research/#publishing-platforms">Publishing platforms</a>
- <a href="http://osp.kitchen/research/#stroke-fonts">Stroke typography</a>
- <a href="http://osp.kitchen/research/#meta">Collaboration and association (meta)</a></p>
<h1>Association</h1>
<p>After calling itself a caravan since its start in <a href="http://blog.osp.kitchen/news/is-it-possible.html">2006</a>, from 2015 on OSP is organised as a bilingual (FR-NL) belgian association. </p>
<p>We are formaly organised around four documents that are available and versioned on https://gitlab.constantvzw.org/osp/osp.meta.association
- our <a href="https://gitlab.constantvzw.org/osp/osp.meta.association/tree/master/association-1-statutes">legal statutes</a>
- our <a href="https://gitlab.constantvzw.org/osp/osp.meta.association/tree/master/association-2-recipe-of-internal-order">recipe of internal order</a>
- our <a href="https://gitlab.constantvzw.org/osp/osp.meta.association/blob/master/association-3-registry/association-registry-en.md">registry of members</a>
- our <a href="https://gitlab.constantvzw.org/osp/osp.meta.association/tree/master/association-4-collaboration-agreement">collaboration agreement</a>
This collaboration agreement has been published as part of our <a href="https://ecotones.caveat.be/osp.html">ecotones of collaboration research</a> in the frame of the <a href="https://caveat.be/">Caveat research</a>. </p>
<p>We encourage the reuse and modification of this structure and documents for any collective that want to setup a design non-profit association (see just below).</p>
<h1>Licence(s)</h1>
<p>If not stated in another way, our works and texts are published under the dual and compatible <a href="https://en.wikipedia.org/wiki/Free_Art_License">Free Art License version 1.3</a> and <a href="https://creativecommons.org/share-your-work/licensing-examples/#sa">Attribution ShareAlike Creative Commons BY-SA</a>. If those licenses are quite useful to begin to clarify relational contracts between practionneers, we do not see them as full solutions and we are quite interested on <a href="http://constantvzw.org/site/Authors-of-the-future-Re-imagining-Copyleft.html">re-imagining copyleft licences</a>.</p>
<h1>History and references</h1>
<p>Founded in 2006 in the context of Brussels art organisation <a href="http://constantvzw.org">Constant</a>, OSP started with the commitment to use only <a href="http://blog.osp.kitchen/news/the-four-freedoms-two-rules-and-one-jam.html">Free or Open Source Software</a>.</p>
<p>At <a href="http://blog.osp.kitchen/news/is-it-possible.html">the start</a> of its activity, OSP has <a href="http://blog.osp.kitchen/2006/index.html">blogged a lot</a> and <a href="http://ospublish.constantvzw.org/images/">collected tons of pictures</a>. We follow quite every edition of the <a href="https://libregraphicsmeeting.org">Libre Graphic Meeting</a>, participate actively to the <a href="http://aa.lgru.net">Libre Graphic Research Unit</a> and it's <a href="http://reader.lgru.net">"Consider your tools" reader</a> and initiate the <a href="http://relearn.be">Relearn school (summer collective learning experimement)</a>. We start using Git and publish <a href="http://osp.kitchen/work/">work</a>, <a href="http://osp.kitchen/fonts/">fonts</a> and <a href="http://osp.kitchen/tools/">tools</a> using our home-made <a href="http://osp.kitchen/tools/visualculture">Visual culture software</a>. We've got a <a href="http://esadhar.fr/fr/actualitees/readmeosp-saison-graphique-2016">ten-years exhibition at Le Havre ESADHAR art school</a>, blog less (even if it is not a statement), we <a href="https://twitter.com/osp_kitchen">micro-blog a bit</a>. We are part of the <a href="https://caveat.be/">Caveat</a> research project.</p>
<p>During the years and in addition of Belgium, OSP has made workshops, print parties and conferences in the Netherlands, France, Germany, Canada, UK, Poland, Norway, Spain, Portugal, Vietnam, South Korea, Haïti, Brasil, Denmark.</p>
<h2>Some writings by OSP</h2>
<ul>
<li><a href="https://www.grafik.net/category/screenshot/diy-software">DIY Software a presentation and explanation of the engraving features in Laidout, in Grafik. (March 2015)</a></li>
<li><a href="http://strabic.fr/OSP-Visual-Culture">Visual Culture Open Source Publishing, Git et le design graphic, FR, in Strabic (November 2014)</a></li>
<li><a href="http://f-u-t-u-r-e.org/r/02_OSP_Relearn_FR.md">Relearn (Originally published in ⋔☼, №1, 10/2011, p.35-46.2011)</a></li>
<li><a href="http://ospublish.constantvzw.org/blog/downloads/design-tools-for-designers-19-steps-to-do-a-booklet">Design Tools for Designers: 19 steps to do a booklet (2009)</a></li>
<li><a href="http://ospublish.constantvzw.org/blog/wp-content/uploads/awkward_gestures.pdf">Awkward Gestures: designing with Free Software (PDF, 2008)</a></li>
<li><a href="http://ospublish.constantvzw.org/blog/texts/what-is-in-a-name">What is in a name (2008) - about the term "Open Source Publishing"</a></li>
<li><a href="http://snelting.domainepublic.net/texts/why_open_fonts.odt">Why OSP thinks fonts should be free software (ODT, 2008)</a></li>
</ul>
<h2>Some interviews</h2>
<ul>
<li>A mix between interview and essay by Nicolas Malevé for the publication of our ten-years exhibition at Le Havre ESADHAR art school: <a href="https://gitlab.constantvzw.org/osp/workshop.saison-graphique/blob/archive/mais-c-est-quoi-la-magie-nicolas-maleve/mais-c-est-quoi-la-magie-nicolas-maleve.md">C'est quoi la magie?</a></li>
<li><a href="http://ospublish.constantvzw.org/blog/news/etapes-220">Interview avec Caroline Bouige pour <em>Étapes 220</em> (2014)</a></li>
<li><a href="http://networkcultures.org/outofink/2011/09/25/interview-with-alexandre-leray-eduard-martinez-piraces-eric-schrijver-femke-snelting-and-stephanie-vilayphiou-of-open-source-publishing/">Interview by Silvio Lorusso (2011)</a></li>
<li><a href="http://jeanne.gangloff.free.fr/blog/?p=273">Rencontre avec Jeanne Gangloff et Marie Frignet des Préaux (2012)</a></li>
<li><a href="http://www.spc.org/fuller/interviews/open-source-publishing-interview-with-femke-snelting/">Interview by Matthew Fuller (2008)</a></li>
</ul>
<h2>Some videos</h2>
<ul>
<li>[Caveat, Collaboration écotone, in the frame of erg seminar)[https://vimeo.com/384463912)</li>
<li><a href="https://www.pechakucha.com/presentations/html2print-a-f-slash-loss-publishing-workflow-for-medor">OpenCon, Liège 2016</a></li>
<li><a href="https://vimeo.com/114026090">FCF Lab 2014 - OSP. “Visual culture. A tool for distributed design collaboration”, BAU Barcelona</a></li>
<li><a href="https://vimeo.com/33623628">Open Source Publishing : Design Blast 2011 from KD HfG KA</a></li>
</ul>
<h2>A song</h2>
<p><a href="http://ospublish.constantvzw.org/blog/wp-content/uploads/nains.odt">Les Nains (.odt)</a>, a song by Marie Dubas (1937), important inspiration when we were <a href="http://blog.osp.kitchen/live/en-route.html">on the road to LGM 2008</a> in Wrocław </p>
</div>
{% endblock %}
