{% extends 'category.html' %}
{% load markup %}

{% block extrahead %}
        <style media="all" >
        {% for repo in repos %}
            {% for font in repo.woffs %}
              @font-face {
                  font-family: '{{ font.name }}' ;
                  src: url('{{ font.url }}'); 
              }
            {% endfor %}
        {% endfor %}
        </style>
{% endblock %}

{% block header %}
<h1>{{ category|title }}</h1>

<div id="home-infos" class="foundry-infos">
    <div>
      <p>Welcome to the OSP-foundry!</p>
      <p>Here you find all fonts produced by OSP. Some of them are complete typefaces, others works in progress. They are all <em>Libre Fonts</em>, meaning they are released under libre software licenses that allow modification, re-distribution and use.</p>
      <a href="#" class="show-more">More about why we make/use Libre fonts.</a>
    </div>
      <div class="more">
          <p>For us, typography is more than the work of solitary masters passing on their secret trade to devoted pupils, committed as they are to a specialist work overlooked by most common people. This image that is carefully preserved in the closed world of type design, obscures the fact that typography today is lightweight and widespread. It certainly contrasts with the invitation of Free Software to anyone to run, copy, distribute, study, change and improve.</p>
          <p>Could the production and distribution of <em>Libre Fonts</em> turn this patriarchal system inside out? What if expert and amateur users work together and make improvements to the typefaces they use, what if they share these fixes with others? What if the design of a typeface would benefit from the many eyes of designers working around the world? What if a typeface was not a fixed entity, but a networked set of elements, responding to context and types of use?</p>
          <p>At OSP we feel typography is inherently generative, especially since digital files have everything to gain from being copied and re-mixed. We’d rather work with their constraints and affordances, than rely on a contradictory business model that invests more in copyright enforcement than in creative development itself. Typographers forge by nature and (sadly often without credit) appropriate the ideas and designs of their colleagues. We prefer to be explicit about the provenance of our glyphs and curves and hope you enjoy the result as much as we do.</p>
      </div>
<!--
  <p>More about OSP: <a href="http://osp.constantvzw.org">http://osp.constantvzw.org</a></p>
  <p>Contact: hello[at]ludi.be and mail[at]osp.constantvzw.org</p>

  <p>&#8212;&#8211;</p>
  <p><strong>What is the difference between a proprietary, a free and an open font?</strong><br />
  The confusing answer is, that there are no physical differences between the three. It is as easy to copy, open up, make changes to a proprietary, commercial font as it is to change an Open Font. A copy of any  digital font is identical to it&#8217;s original, like software, it does not deterioate when copied. The only difference is in the license, the legal document that comes with the font and tells you what you are able to do or not as a user.</p>
  <p>Most fonts that are distributed &#8216;gratis&#8217; on Windows and Macs, or fonts you buy at Type Foundries are proprietary fonts. You can only legally use them once you signed an End User Licensing agreement.</p>
  <p>A typical phrase from such an EAL grants you limited rights to use the font (TEFF = Enschede Font Foundry, the foundry established by Dutch type designer Gerrit Noordzij):<br />
  <em>TEFF grants Licensee the right, exclusively for the purpose of protecting the fonts/data and exclusively for himself, to make one (back up) copy of the fonts mentioned in Article 2 of this Agreement.</em><br />
  (you can only make one copy)</p>
  <p>and further on:<br />
  <em>Licensee shall refrain from altering, adapting, editing, modifying, or converting the fonts/data covered by this Agreement in any way whatsoever without prior written permission from TEFF.</em><br />
  (you are not allowed to make any changes)</p>
  <p>The Monotype End User License Agreement is explicit too:<br />
  <em>You may not alter Font Software for the purpose of adding any functionality which such Font Software did not have when delivered to you by MI.</em><br />
  (you are not allowed to make any changes)</p>
  <p>Free fonts are distrbuted by typedesigners themselves, because they are interested in &#8216;airplay&#8217;, sometimes they are little experiments done by amateurs and sometimes they are pirated versions of proprietary fonts that with a few minimal changes, are released under another name.</p>
  <p>A typical Freeware font license invites you to use the font for free (often only for non-commercial use), but explicitly forbids to make derivative works, even if the font itself was based upon a familiar original (Larabie Fonts License Agreement &#8211; freeware):</p>
  <p><em>1. GRANT OF LICENSE. This document grants you the following rights:<br />
  &#8211; Installation and Use. You may install and use an unlimited number of copies of the SOFTWARE PRODUCT.<br />
  &#8211; Reproduction and Distribution. You may reproduce and distribute an unlimited number of copies of the SOFTWARE PRODUCT; provided that each copy shall be a true and complete copy, including all copyright and trademark notices (if applicable) , and shall be accompanied by a copy of this text file. Copies of the SOFTWARE PRODUCT may not be distributed for profit either on a standalone basis or included as part of your own product unless by prior permission of Larabie Fonts.<br />
  2. DESCRIPTION OF OTHER RIGHTS AND LIMITATIONS.<br />
  &#8211; Restrictions on Alteration. You may not rename, edit or create any derivative works from the SOFTWARE PRODUCT, other than subsetting when embedding them in documents unless you have permission from Larabie Fonts. </em></p>
  <p>An Open Font, is entirely different in that respect. It in fact invites you to make copies, changes and alterations as long as the licence remains in tact (others need to be able to do the same) and as long as you release the font under another name. It is just like Free Software  (Liberation font license):</p>
  <p><em>LIBERATION font software  (the &#8220;Software&#8221;) consists of TrueType-OpenType formatted font software for rendering LIBERATION typefaces in sans serif, serif, and monospaced character styles. You are licensed to use, modify, copy, and distribute the Software pursuant to the GNU General Public License v.2</em></p>
  <p><strong>Why are fonts like software?</strong><br />
  A font is software for writing; it is everywhere and at the same time it is virtually invisible; embedded in computer systems and digital documents it plays a vital part in how we communicate and even something as plain as a terminal window requires a font, requires information to make letters appear on a screen in a certain way. However ubiquitous, each text requires a precise decision about which typeface is used once displayed, whether that choice is a conscious decision or instead the result of a default setting.<br />
  In the long tradition of type design, committed typographers have worked at this non-spectacular level, using their skills to draw letter forms in ways that they felt would enhance the clarity of messages, any message. They have been joined by computer scientists, understanding the continuum  between language, typography and programming.<br />
  (Donald Knuth is probably the only person I have seen both Free Software developers and designers wear on their T-shirts. Computer scientists need groupies too!)</p>
  <p>The effect of the digital revolution for type design, is that typefaces have been transformed into fonts &#8211; no more lead blocks, but sets of data, lines of code that describe how each glyph should be drawn on screen or by a printer. The challenge for contemporary typographers, is to take advantage of this new materiality of fonts. It means to work from the fact that they are essentially data files, optimized to work between systems. Not only between computer systems, but also language systems, cultural contexts and design traditions.<br />
  Soon after OSP was launched, we realised that the extraordinary area of type design is where Free Software and design naturally meet. This area of work is what kernel coding is for a Linux developer: only a few people actually make fonts but many people use them all the time. </p>
  <p>When you take this software-like aspect as a startingpoint, many ways to collaborate (between programmers and typographers; between people speaking different languages) open up, as long as you let go of the uptight licensing policies that apply to most commercial fonts.</p>
  <p><strong>Why should fonts be free software?</strong><br />
  Instead of working with the constraints and affordances of digital files, contemporary typography has become an essentially contradictory business model that has very strong stands against “font forging” and copyright issues, although it has historically &#8211; and now, more than ever &#8211; thrived on constant, and often uncredited, appropriation of ideas and designs.1<br />
  Strict licensing rules apply to most fonts, and they forbid us to add the characters, accents and glyphs we might need.<br />
  The alphabet may belong to all of us, but it&#8217;s designed embodiment certainly does not. As fonts are such excellent expressions of bits, we would like to re-think use, distribution and production in the light of alternative approaches to knowledge production as proposed by the Free Software and Copy-Left movement.<br />
  Typography is inherently generative. It&#8217;s own use of the term &#8216;Font Family&#8217; to begin with, each typeface is a variation on a theme.<br />
  The proprietary model is impossible to enforce: the distribution of fonts asks for another legal position, and another economic model.<br />
  Collaboration might enhance quality – a typeface is a complicated piece of software and it&#8217;s quality would go up once many eyes look at ti and help fix bugs.<br />
  A decentralized model of work necessary to develop large families fit for different contexts. Those are expensive to develop; in a proprietary context minority languages are often treated as extensions of a main, dominant set.</p>
  <p><strong>What about multilingual typography?</strong><br />
  Anyone not speaking English, knows that computer-users really need larger character sets that allow for communication between let’s say Greek, Russian, Slovak and French. On our trip to Wroclaw, we met many Polish users that were angry about how little Polish characters were implemented in most typefaces. </p>
  <p>As this sad story about the missing letter illustrates:<br />
  The life of 20-year-old Emine, and her 24-year-old husband Ramazan Çalçoban was pretty much the normal life of any couple in a separation process. After deciding to split up, the two kept having bitter arguments over the cellphone, sending text messages to each other until one day Ramazan wrote &#8220;you change the topic every time you run out of arguments.&#8221; That day, the lack of a single dot over a letter — product of a faulty localization of the cellphone&#8217;s typing system — caused a chain of events that ended in a violent blood bath.</p>
  <p>The surreal mistake happened because Ramazan&#8217;s sent a message and Emine&#8217;s cellphone didn&#8217;t have an specific character from the Turkish alphabet: the letter &#8220;ı&#8221; or closed i. While &#8220;i&#8221; is available in all phones in Turkey—where this happened—the closed i apparently doesn&#8217;t exist in most of the terminals in that country.<br />
  The use of &#8220;i&#8221; resulted in an SMS with a completely twisted meaning: instead of writing the word &#8220;sıkısınca&#8221; it looked like he wrote &#8220;sikisince.&#8221; Ramazan wanted to write &#8220;You change the topic every time you run out of arguments&#8221; (sounds familiar enough) but what Emine read was, &#8220;You change the topic every time they are fucking you&#8221; (sounds familiar too.)<br />
  The end of this story involves knives, blood, revenge and an actual killing. </p>
  <p>For the exchange of documents between multiple languages, multilingual character sets are essential and for this many designers need to work together. Instead of getting caught up in anti-piracy measures and digital type management, the limited-access craft might need to move away from Fordist lines of production and distribution. These kinds of vast projects are so much easier to develop and maintain in a Free Software way; the DeJaVu font project shows that it is possible to work with many people spread over different countries modifying the same set of files with the help of versionning systems like CVS.</p>
  <p><strong>Why is OSP interested in collaborative typography?</strong><br />
  A typographer is traditionally a solitary master passing on the secret trade to his devoted pupils, devoted to a trade that is ignored and misunderstood by most common people; an image of suffering for the greater good of mankind that is carefully preserved in the closed world of type design.</p>
  <p>This image contrasts with the lightweight, widespread character of typography today. It certainly contrasts with the invitation of free software to anyone to run, copy, distribute, study, change and improve. </p>
  <ul>
  <li>Could the production and distribution of open fonts turn the patriarchal guild system inside out?
  </li>
  <li>What if users themselves could make improvements typefaces they use, and share them with others</li>
  <li>What if the design of a typeface would benefit from the many eyes of designers working around the world? </li>
  <li>What if a typeface is not a fixed entity, but a networked set of elements, responding to context and types of use?</li>
  </ul>
  <p>We think that it is about time to reconnect the tradition of typography again to the freedom of expression. We think it is imperative that citizens can express themselves through channels that are publicly owned, with tools they can re-make if needed. We have started to see how new forms of collaboration, with the help of new tools, could possibly change the form of typefaces themselves.</p>
-->

</div>
{% endblock header %}

{% block content %}
    <div class="foundry-playground">
        {% for repo in repos %}
            <div class="font">
                <div class="font-row">
                    <h2 class="font-name"><a href="/foundry/{{ repo.name }}">{{ repo.name }}</a></h2>
                    <select class="font-variants">
                        {% for font in repo.woffs %}
                            <option style="font-family: {{ font.name }}">{{ font.name }}</option>
                        {% endfor %}
                    </select>
                    <marquee class="last-commit" scrollamount="5" onmouseover="this.stop()" onmouseout="this.start()">
                        <span class='commit-date'>Last update: {{ repo.commits.0.commit_time|date:"jS F Y - H:i" }}</span>
                        <span class="commit-message"><span class='commit-author-said'>{{ repo.commits.0.author }} {{ said|random }}:</span> {{ repo.commits.0.message|urlize|linebreaksbr }}</span>
                    </marquee>
                </div>
                <div class="font-row">
                    
                    <div class="font-icons">
                        <a class="icon" title="download" href="https://gitlab.constantvzw.org/osp/foundry.{{repo.name}}/-/archive/master/foundry.{{ repo.name }}-master.zip">↓</a>
                        <a class="icon" target="_blank" title="contribute" href="https://gitlab.constantvzw.org/osp/foundry.{{repo.name}}">✎</a>
                        <a class="icon" title="read more" href="/foundry/{{repo.name}}">i</a>
                    </div>

                    {% if repo.woffs %}
                        <p class="sentence expanded" contenteditable="true" style="font-family: {{ repo.woffs.0.name }};">
                            {{ repo.woffs.0.sentence }}
                        </p>
                    {% endif %}
                    {% if 'image/' in repo.iceberg.0.mime and not 'svg' in repo.iceberg.0.mime or repo.iceberg.0.mime == 'application/pdf' %}
                    <div class="images {% if repo.woffs %}collapsed{% endif %}">
                        <div class="images-list">
                            {% for img in repo.iceberg %}
                                <img src="/visual/{{ repo.slug }}/{{ img.hex }}/height..300/{{ img.name }}.png"/>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                  
              </div>
          </div>
      {% endfor %}
    </div>

    <div class="foundry-contribute foundry-infos">
        <div>
        <p>
            We would also be proud to publish the uses (and modifications) you make of the fonts on our website. ☺ <br>
            Clone our repositories via <a href="https://gitlab.constantvzw.org/osp">Gitlab</a>.
            <a href="">Your contribution is welcome.</a>
        </p>
        </div>
        <div>
            <p>
                Among the reinforcement needs:
            </p>
            <ul>
                <li>a Philibert revival</li>
                <li>a MetaPost version of Belgica-Belgika</li>
            </ul>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            // TOGGLE INTRODUCTION
            $(".show-more").click(function(){
                $(this).parent().next().slideToggle();
            });

            // TOGGLE TEXT/IMAGE
            $(".sentence").click(function(){
                if ($(this).hasClass("collapsed")) {
                    $(this).toggleClass("collapsed");
                    $(this).toggleClass("expanded");
                    $(this).next().toggleClass("collapsed");
                    $(this).next().toggleClass("expanded");
                }
            });
            $(".images").click(function(){
                if ($(this).hasClass("collapsed")) {
                    $(this).toggleClass("collapsed");
                    $(this).toggleClass("expanded");
                    $(this).prev().toggleClass("expanded");
                    $(this).prev().toggleClass("collapsed");
                }
            });

            // CHANGE FONT STYLE
            $(".font-variants").change(function(){
                font = $("option:selected", $(this)).text();
                $(this).css("font-family", font + " !important");
                //this.style.fontFamily = font;
                $(this).closest(".font").find(".sentence")[0].style.fontFamily = font;
            });
        });
    </script>

{% endblock %}
