{% extends 'base.html' %}

{% block content %}


<div id="info-page">

    {# EDIT CONTENT HERE: http://pads.osp.kitchen/p/cv #}

    <!-- BACKUP OLD CV -->
<!--<h2>Selected collaborators/clients</h2>-->

<!--<ul>-->
<!--<li>Atelier de Création Sonore Radiophonique</li>-->
<!--<li>Leuven University</li>-->
<!--<li>Sarma</li>-->
<!--<li>Danslab</li>-->
<!--<li>Pieter Van Bogaert</li>-->
<!--<li>Constant VZW</li>-->
<!--<li>Tuned City</li>-->
<!--<li>Théâtre la Balsamine</li>-->
<!--<li>Waerbeke VZW</li>-->
<!--<li>404</li>-->
<!--<li>Aether9</li>-->
<!--<li>Piet Zwart Institute</li>-->
<!--<li>Radio Panik</li>-->
<!--<li>Netwerk</li>-->
<!--<li>Libre Graphics Meeting</li>-->
<!--<li>Bibliothèque Publique d'information de Paris</li>-->
<!--<li>La Médiathèque, Bruxelles</li>-->
<!--<li>Donna</li>-->
<!--<li>PTIT FAYSTIVAL</li>-->
<!--<li>GenderArtNet</li>-->
<!--<li>Circular Facts</li>-->
<!--</ul>-->

<!--<h2>Workshops</h2>-->

<!--<h3>2014</h3>-->
<!--<dl>-->
<!--<dt>December 2013/January 2014</dt>-->
<!--<dd>Haute École d'Art et Design, Geneva</dd>-->
<!--</dl>-->

<!--<h3>2013</h3>-->

<!--<dl>-->
<!--<dt>November 2013</dt>-->
<!--<dd>Free libraries for every soul, Utrecht</dd>-->
<!--<dt>October 2013</dt>-->
<!--<dd>Typojanchi, Seoul</dd>-->
<!--<dt>August 2013</dt>-->
<!--<dd>Relearn, libre graphics summer school</dd>-->
<!--<dt>May 27-31</dt>-->
<!--<dd>Festival international de l'affiche et du graphisme</dd>-->
<!--</dl>-->

<!--<h3>2012</h3>-->

<!--<dl>-->
<!--<dt>Academic Season 2012/2013</dt>-->
<!--<dd>Invited designers at ÉSAD &bull;Valence &bull;Grenoble</dd>-->

<!--<dt>October 15-19</dt>-->
<!--<dd>Intermediae, Madrid</dd>-->

<!--<dt>May 16-20</dt>-->
<!--<dd>Merz Akademie, Stuttgart</dd>-->

<!--<dt>May 3-4</dt>-->
<!--<dd>ÉSAD &bull;Valence &bull;Grenoble</dd>-->
<!--</dl>-->

<!--<dt>February 22-25</dt>-->
<!--<dd>LGRU, Brussels</dd>-->
<!--</dl>-->

<!--<h3>2011</h3>-->

<!--<dl>-->
<!--<dt>5 and 6 december</dt>-->
<!--<dd>Piet Zwart Institute, Rotterdam</dd>-->

<!--<dt>April 3-15</dt>-->
<!--<dd>Open Design Weeks Vietnam</dd>-->

<!--<dt>March 8-10</dt>-->
<!--<dd>Royal College of Art, London</dd>-->
<!--</dl>-->

<!--<h2>Lectures-->

<!--<h3>2012</h3>-->

<!--<dl>-->
<!--<dt>September 9</dt>-->
<!--<dd>Let’s talk about graphic design, MAD Brussels</dd>-->
<!--<dt>March 12</dt>-->
<!--<dd>ESA Pyrénées, Pau</dd>-->
<!--</dl>-->

<!--<h3>2011</h3>-->

<!--<dl>-->
<!--<dt>November 18</dt>-->
<!--<dd>Designblast, HFG Karlshruhe</dd>-->
<!--</dl>-->

<!--<h2>Exhibitions</h2>-->

<!--<h3>2013</h3>-->

<!--<dl>-->
<!--<dt>August 27-October 8</dt>-->
<!--<dd>Typojanchi, Seoul</dd>-->
<!--</dl>-->

<!--<h3>2012</h3>-->

<!--<dl>-->
<!--<dt>November 6-18</dt>-->
<!--<dd>Visual Grammar, MAD Brussels</dd>-->
<!--</dl>-->

<!--<h2>Print Parties</h2>-->

<!--<dl>-->
<!--<dt>March 23, 2013</dt>-->
<!--<dd>F B S P dinner, Komplot</dd>-->
<!--<dt>February 28, 2013</dt>-->
<!--<dd>Bootstrap IV, Théâtre la Balsamine</dd>-->
<!--</dl>-->


</div>

<script>
    $("#info-page").load("http://write.osp.kitchen/ether/p/cv/export/html");
</script>
{% endblock %}

