{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<div>

    <div id="active-projects">
        <div id="home-info" class="project">
        <p>You're looking at the inside of our cupboards. In the OSP kitchen, source files&nbsp;=&nbsp;ingredients. These arrangements of blocks of text and images depict recent projects, their narratives, some selected visuals and how these all came to be. <br>We welcome you to <a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">study</a>
        these, <a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">improve</a> them, to <a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">redistribute copies</a>
        of them and <a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">release your improvements</a>.
        <br>Nous sommes embarqués.
        <a href="{{ HOST }}/about">Read more about the way we work</a> →</p>
        <h1><a href="http://blog.osp.kitchen">Latest posts on&nbsp;the&nbsp;blog</a></h1>
        <div id="on-the-table-feed">
          <ul>
          {% for entry in ospblog %}
          <li><a href="{{entry.link}}">{{entry.title}}</a>
            <p>{{ entry.summary|safe }}</p>
          </li>
          {% endfor %}
        </ul>
        </div>
        {% include "incl-newsletter.html" %}
        </div>

        {% for repo in repos %}
        <div class="project">
            <h2 class="project-title">
              {% if repo.category %}
                <a class="category" href="{% url osp.views.category repo.category %}">{{ repo.category }}</a><br>
                {% else %}
                  <a class="category-none" href="#"></a><br>
              {% endif %}
            <a href="{{ repo.web_path }}">{{ repo.name }}</a>
            </h2>
            <div class="iceberg">
              {% if repo.cover %}
                <a href="{{ repo.web_path }}">
                <img src="/visual/{{repo.slug}}/{{repo.cover.hex}}/width..300/{{ repo.cover.name }}"/>
                </a>
              {% else %}
                {% for ice in repo.iceberg|dictsortreversed:"datetime" %}
                    {% if forloop.first %}
                    <!--<a href="/{{ repo.category }}/{{ repo.name }}/tree/master/iceberg/{{ ice.name }}">-->
                    <a href="{{ repo.web_path }}">
                        {% if 'image/' in ice.mime and 'svg' not in ice.mime or ice.mime == 'application/pdf' %}
                        <img src="/visual/{{repo.slug}}/{{ice.hex}}/width..300/{{ ice.name }}.png"/>
                        {% else %}
                        <img src="/static/img/file-frog.png" />
                        {% endif %}
                    </a>
                    {% endif %}
                {% endfor %}
              {% endif %}

            </div>

            {% include "commit-list.html" %}
            <div class="gradient-to-more">
              <a href="{{ repo.web_path }}" class="see-more">see more</a>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}

{% block footer %}
  <p> These project views are all based on <a href="{{ HOST }}/tools/visualculture/">VisualCulture</a>.<br>We welcome you to <a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">study</a>
  these, <a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">improve</a> them, to <a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">redistribute copies</a>
  of them and <a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">release your improvements</a>.</p>
{% endblock %}
