{% extends 'base.html' %}

{% block content %}

<div id="research-tracks">
<section id="intro">
  <div class="half">
    <h1>research tracks</h1>
    <img src="{{ STATIC_URL }}img/0.svg">
  </div>
  <div class="half">
    <p>The more OSP accumulates work, the more cross sections appear among the projects. A good part of these interesections end up emerging as themes of their own. We've made the decision to stimulate OSP's research functions by following some of these more specific themes. They are the most interesting and exiting to us. We want to drive these forwards, we're making them into their own (research) projects.</p>
  </div>
</section>
<section id="secondary-menu">
  <div><h3><a href="#h2p">html2print</a></h3></div>
  <div><h3><a href="#publishing-platforms">Publishing platforms</a></h3></div>
  <div><h3><a href="#stroke-fonts">Stroke typography</a></h3></div>
  <div><h3><a href="#meta">Meta</a></h3></div>
</section>

<section id="h2p" class="full-width">
  <div class="half">
    <img src="https://gitlab.constantvzw.org/osp/work.balsamine.2015-2016/raw/master/iceberg/DSCF8663_01.jpg">
    <!--<ul>-->
      <!--<li><a href="">Project repository</a></li>-->
      <!--<li><a href="">project research page</a></li>-->
    <!--</ul>-->
  </div>
  <div class="half">
    <h2>html2print</h2>
    <!--<h4>Conscience: Stephanie</h4>-->
    <p>Design and preview sophisticated print output of HTML documents. HTML2print is a tool that allows to design documents allowing both a visual feedback and a code access.</p>

    <p>Contemporary graphic design production of printed publications depends on digital tools. The most commonly used tools are WYSISYG (What You See Is What You Get): they provide a canvas to manipulate visually. Examples of such tools are Quark Xpress, inDesign and Scribus, a free and open source software. Another existing approach is to generate designs from structured text documents, popular in the world of technical publications and academic publishing. This programmatic approach is ideal to typeset flows of content, but makes it harder to create sophisticated layouts, as the visual result is not editable. With html2print, we investigate the missing piece of software: a programmatic approach where we can manually intervene in the visual outcome.</p>
  </div>
</section>

<section id="publishing-platforms" class="full-width">
  <div class="half">
    <h2>Publishing platforms</h2>
    <!--<h4>Conscience: Alexandre</h4>-->
    <p>Collaborate on rich documents in real-time and build rich archive</p>
    <p>Concrete things I&#x27;d like to work on:<br>a web clipping tool that allows one to organise and share the clipping, retaining the context (authors, design) of the clipping.&nbsp; Same same as evernote but better (aa.sampuru)<br>a tool that allows to take web resources and soft-modify them through filters (aa.filters)<br>a tool to crawl and index web ressources (aa.sniff)<br>html2markdown2html conversion<br>typographic enhancement tools<br>realtime visual wiki~~~<br>commenting tool~~~<br><br><br>3 subaxes:<br><ul class="bullet"><li>scraping</li><li>editing</li><li>publishing</li></ul></p>
  </div>
  <div class="half">
    <img src="http://osp.kitchen/api/osp.tools.ethertoff/raw/iceberg/ethertoff-write-read-print.gif">
    <!--<ul>-->
      <!--<li><a href="http://osp.kitchen/tools/html2print">Project repository</a></li>-->
      <!--<li><a href="">project research page</a></li>-->
      <!--<li><a href=""></a></li>-->
    <!--</ul>-->
  </div>
</section>

<section id="stroke-fonts" class="full-width">
  <div class="half">
    <img src="https://gitlab.constantvzw.org/osp/foundry.metadin/raw/master/iceberg/sketch-a.jpg">
    <img src="https://gitlab.constantvzw.org/osp/foundry.metadin/raw/master/iceberg/Capture%20du%202013-03-12%2017:54:51.png">
    <!--<ul>-->
      <!--<li><a href="">Project repository</a></li>-->
      <!--<li><a href="">project research page</a></li>-->
      <!--<li><a href=""></a></li>-->
    <!--</ul>-->
  </div>
  <div class="half">
    <h2>Stroke fonts</h2>
    <!--<h4>Conscience: Gijs</h4>-->

    <p>Investigate, perform and redefine font standards</p>

    <p>
Goals:
    </p>
<ul>
    <li>Develop experiments with stroke fonts</li>
    <li>Organise work sessions around stroke fonts</li>
    <li>Develop a catalog of stroke fonts example</li>
    <li>Development of a stroke fonts standard</li>
    <li>Integration of stroke fonts in existing drawing tools (inkscape?) or font libraries</li>
</ul>

<p>A stroke(d) font is based on the principle of describing a collection of glyphs by their center line or the movement of a pen rather than their outlines. The center line, or skeleton, would then be styled either from inside the font, either from any software that acts downstream (the rendering stack) on the text, according to parameters that are yet to be defined. But might be based on the concept of an object following a path.</p>

<p>This could be a very different approach than those embedded in the font formats currently in wide use. There will be a lot of issues to  address for this to move forward. Drawing letters from their skeleton allow users for other styling options, but also allows the computer for a larger understanding of a glyphs shape as a whole or it’s important features, regions, parts. Based on this understanding it woud be easier to algorithmically alter these glyphs’ shapes — while composing texts  for example. It would enlarge the scope of what this group aims to do. Going towards a parametric approach of designing fonts, and considering the resulting transformation of the composition process. From fonts to lettering, from typography to writing.</p>

<p>We aim to discover, adapt or develop a way to make these fonts usable and stylable in a variety of scenarios, such as web pages, canvas based design tools, as well as pen plotters, CNC, PCP and cartography design environments.</p>

<ul>
    <li><a target="_blank" href="https://www.w3.org/community/blog/2015/06/05/proposed-group-stroke-fonts-community-group/">w3c standards community working group</a></li>
    <li><a target="_blank" href="http://ospublish.constantvzw.org/foundry/belgica-belgika/">Belgicka font description</a></li>
    <li><a target="_blank" href="http://osp.constantvzw.org:9999/p/stroke-fonts">Pad from meeting at LGM (2015)</a></li>
    <li><a target="_blank" href="http://write.osp.kitchen/w/stroke-fonts.md">Presentation LGM (2015)</a></li>
    <li><a target="_blank" href="https://en.wikipedia.org/wiki/Computer_font#Stroke-based_fonts">Stroke based fonts on Wikipedia</a></li>
    <li><a target="_blank" href="https://en.wikipedia.org/wiki/Saffron_Type_System">Saffron type systems</a></li>
    </li>
</ul>

  </div>
</section>

<section id="meta" class="full-width">
  <div class="half">
    <h2>Meta</h2>
    <!--<h4>Conscience: Pierre</h4>-->
    <p>OSP is a design caravan that have organised itself around agile tools for 10 years. Along software and design tools, there is also tools to position, manage, run, steer, collaborate, communicate. All those tools/texts could be useful for other organisations to work with. In return, other organisations have maybe text/tools that could be useful for OSP to involve.</p>

<h3>Asbl+vzw toolkit</h3>
<p>
OSP has organised itself as non profit organisation, and its statutes present a quite ambitious manifest. The statutes are split between the minimal needed by the Belgian law, and the rest as a versionned separate Réglement d'ordre intérieur. The official part is translated so OSP is both an ASBL and a VZW. </p>

<h3>Collaboration agreement</h3> 
<p>As long as the work of OSP could be described as applied research, it's essential for collaborators to be able to grasp it to its full extent and be able to engage themselves knowing as much as possible how we work collaboratively in advance.</p>

<h3>Licensing and author right ceding</h3> 
<p>The sharing of sources and compiled works is rooted in the core of OSP. This sharing follow rules, largely described by the Free Art Licence and the Creative Commons BY-SA licences, both licences that OSP use to publish most of the productions, along Open Font Licence for typography.</p>

<h3>Accounting and project management</h3> 
<p>OSP is building various libre tools to manage the accounting of the organisation, the management and billing of the projects and the various payrolls of members acting partly as free-lancers and partly as employees.</p>
  </div>
  <div class="half">
    <img src="http://ospublish.constantvzw.org/blog/wp-content/uploads/IMG_20150605_094000.jpg">
    <!--<ul>-->
      <!--<li><a href="">Project repository</a></li>-->
      <!--<li><a href=""></a></li>-->
      <!--<li><a href=""></a></li>-->
    <!--</ul>-->
  </div>
</section>


</div>
{% endblock %}
