<ul id="menu">
    <li>
        <a href="/">
        <object data="{{ STATIC_URL }}img/OSP_new-frog.svg" style="width:59px;height:67px;" type="image/svg+xml">
            <img alt="A stylised image of a frog." style="width:59px;height:67px;" src="{{ STATIC_URL }}img/OSP_new-frog.png">
        </object><br>
        OSP</a>
        <span id="baseline">Graphic design caravan</span>
    </li>
    <br>
    <br>
    <p>Open source publishing practices graphic with <span>collaborators</span>, <span>in situ</span>, with <span>custom tools</span>, out <span>in the open</span>, and inside your kitchen.</p>
    <li><a href="{{ HOST }}/work/">Work</a></li>
    <li><a href="http://ospublish.constantvzw.org/foundry/">Foundry</a></li>
    <li><a href="{{ HOST }}/workshop/">Workshops</a></li>
    <!--<li><a href="{{ HOST }}/live/">Live</a></li>-->
    <li><a href="{{ HOST }}/tools/">Tools</a></li>
    <li><a href="http://blog.osp.kitchen/">Blog</a></li>
    <!--<li><a href="http://ospublish.constantvzw.org/images/">Images</a></li>-->
    <li><a href="{{ HOST }}/about">About</a></li>
    <!--<li><a href="http://ospublish.constantvzw.org/contact">Contact</a></li>-->
</ul>
