<a href="/">
<svg id="logo" viewBox="0 0 60 60" style="width: 60px;">
    <use xlink:href="{{ STATIC_URL }}img/OSP_new-frog.svg#svg5365"></use>
</svg>
</a>

<ul id="menu">
    <li>
        <h1><a href="/">Open Source Publishing</a></h1>
    <br>
    </li>
    <!-- <li class="collapse"><a href="#">Menu</a></li> -->
    <!-- <div class="hide-on-mobile"> -->
    <li><a href="{{ HOST }}/tools/">Tools</a></li>
    <li><a href="{{ HOST }}/foundry/">Foundry</a></li>
    <li><a href="{{ HOST }}/workshop/">Workshops</a></li>
    <li><a href="{{ HOST }}/work/">Work</a></li>
    <li><a href="{{ HOST }}/research/">Research</a></li>
    <li><a href="{{ HOST }}/live/">Live</a></li>
    <li><a href="http://blog.osp.kitchen/">Blog</a></li>
    <!--<li><a href="http://ospublish.constantvzw.org/images/">Images</a></li>-->
    <li><a href="{{ HOST }}/about">info</a></li>
    <!--<li><a href="http://ospublish.constantvzw.org/contact">Contact</a></li>-->
  <!-- </div> -->
</ul>
